* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  padding: 0 30px;
  margin: auto;
}

.block{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.header-block{
  width: 100%;
}